body {
  background-color: #fff8c1;
}
h1 {
  font-family: "Montserrat", sans-serif;
  color: rgb(0, 3, 164);
}
h2 {
  color: #0003a4;
}
.navigation {
  text-align: center;
  background-color: rgb(165, 255, 245);
}
